*{
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: 100%;
}
.row {
  height: 400px;
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}
.vertical-collage {
  height: calc((100% - 5px)/2);
}
.row > div {
  flex: 1;
}
.box-collage{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}






/* Responsive Styles  */

@media screen and (max-width: 576px) {
  .row {
    height: auto;
    flex-direction: column;
  }
  .box-collage{
    grid-template-columns: repeat(1, 1fr);
  }
  h1 {
    text-align: center;
  }
}

@media screen and (min-width: 577px) and (max-width:992px) {
  .row {
    height: auto;
    flex-direction: column;
  }
  
}